body {

    background-image: url("../spencer-rd1GIP-zCaI-unsplash.jpg");

    background-size: 250px;
    background-repeat: no repeat;
    color: rgb(37, 47, 56);
    text-align: center;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

img {
    width: 125px;
    height: 150px;
}


.choices:hover {
    transform: scale(1.2);
    border-color: goldenrod;
}

.choices {
    margin: 50px;
    width: 200px;
    height: 200px;
    border-radius: 30%;
    background-color: rgb(36, 4, 75);
    opacity: 60%;
    outline: none;
    color: aliceblue;
    font-size: x-large;